<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>倦眠民宿酒店</title>
</head>
<body>

<footer th:fragment="copyfooter">

<div class="bot1_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo2_wrapper">
                    <a href="view" class="logo2">
                        <img th:src="@{/images/tra.jpg}" alt="" class="img-responsive">
                    </a>
                </div>
                <p>
                    倦眠民宿酒店，是您旅行时感到疲倦的归宿，享受一次安稳而又舒适的入眠
                </p>
                <p>
                    <a href="#" class="btn-default btn2">Read More</a>
                </p>
            </div>
            <div class="col-sm-3">
                <div class="bot1_title">世界是什么</div>
                <ul class="ul1">
                    <li><a href="#">阿尔卑斯的花</a></li>
                    <li><a href="#">黄果山瀑布的水</a></li>
                    <li><a href="#">黄山的山</a></li>
                </ul>

                <div class="social2_wrapper">
                    <ul class="social2 clearfix">
                        <li class="nav1"><a href="#"></a></li>
                        <li class="nav2"><a href="#"></a></li>
                        <li class="nav3"><a href="#"></a></li>
                        <li class="nav4"><a href="#"></a></li>
                        <li class="nav5"><a href="#"></a></li>
                        <li class="nav6"><a href="#"></a></li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-3">



                <div class="bot1_title">与你同在</div>
                <div class="twits1">
                    <div class="twit1">
                        <a href="#"> @iccod</a> 能把我偷走吗 浪漫的收藏家
                        <div class="date">5分钟前</div>
                    </div>
                    <div class="twit1">
                        <a href="#">@海眠</a>I am waiting for you
                        <div class="date">2天前</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bot2_wrapper">
    <div class="container">
        <div class="left_side">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Copyright &copy; 2021.倦眠民宿平台.</a>
        </div>
        <div class="right_side"></div>
    </div>
</div>

</footer>
</body>
</html>